<h1 mat-dialog-title>{{cliente?'Modificar':'Nuevo'}} Cliente</h1>
<div mat-dialog-content>
  <form class="example-form p-4" [formGroup]="registerForm">
    <mat-form-field class="example-full-width">
      <mat-label>Codigo</mat-label>
      <input matInput value="" formControlName="cod_cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Nombre Completo</mat-label>
      <input matInput value="" formControlName="nom_cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Apellidos</mat-label>
      <input matInput value="" formControlName="ape_cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Direccion</mat-label>
      <input matInput value="" formControlName="direc_cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Telefono</mat-label>
      <input matInput value="" formControlName="telef_cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Correo</mat-label>
      <input matInput value="" formControlName="correo_cliente">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Flota</mat-label>
      <mat-select formControlName="flotaId">
        <mat-option *ngFor="let food of flotas" [value]="food.id">
          {{food.desc_flota}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="close()">Cancelar</button>
  <button *ngIf="cliente === null" mat-raised-button color="primary" (click)="add()">Agregar</button>
  <button *ngIf="cliente !== null" mat-raised-button color="primary" (click)="edit()">Modificar</button>
</div>